Afterimage/proj.win32/
Afterimage/cocos2d/
Afterimage/proj.android-studio/
Afterimage/proj.android/
Afterimage/proj.ios_mac/
Afterimage/proj.win10/
Afterimage/proj.win8.1-universal/
Afterimage/bin/debug/android/Aiaigasa-debug.apk
